* {
    font-family: "Poppins";
    text-align: center;
}
a {
    text-decoration: none;
    color: black
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background-color: #2F1847;
    margin: .5rem;
}
nav a{
    color: white;
    
    font-size: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:black;
    margin: 0% 5%;
    background-color: #624763;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9B3D1;
    margin: 4rem;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#logout {
  background-color:#624763; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} 